<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <link href="/static/css/bysstyle.css" rel="stylesheet" type="text/css" />

	<script type="text/css" src="/static/css/bysstyle.css"></script>

	<script type="text/javascript" src="/static/js/jquery.js"></script>
	<script type="text/javascript" src="/static/js/jquery.cycle.lite.1.0.min.js"></script>

	<script type="text/javascript" src="/static/js/jquery-1.8.2.min.js"> </script>
	<script type="text/javascript" src="/static/js/jquery.tablesorter.js"></script>


	
	<script type="text/javascript" src="/static/js/jquery.mousewheel-3.0.4.pack.js"></script>
	<script type="text/javascript" src="/static/fancybox/jquery.fancybox.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/fancybox/jquery.fancybox.css" media="screen" />
	<script type="text/javascript" src="/static/fancybox/jquery.fancybox.pack.js"></script>
</head>


<body>

<div class="main" style="width:650px;">
    <div class="mid" style="width:630px;">
{% block midpart %} {% endblock %}
    </div>
</div>


</body>

</html>
